# Python artifacts
__pycache__/
*.pyc

# Virtual environments
.venv/

# Environment variables
.env

# Data outputs
data/
!tests/data/
# docs/
# datasheets/

# Logs and artifacts
artifacts/
logs/

# OS files
.DS_Store
